<aside class="sidebar">

  <!-- Header -->

  <div class="sidebar-header">

    <div class="brand">

      <mat-icon class="brand-icon">
        pets
      </mat-icon>

      <span class="brand-title">
        EBPETS
      </span>

    </div>

  </div>

  <!-- Menu -->

  <mat-nav-list class="menu-list">

    <a
      mat-list-item
      class="menu-item"
      *ngFor="let item of menuItems"
      [routerLink]="item.route"
      routerLinkActive="active-link"
      [routerLinkActiveOptions]="{ exact: true }"
    >

      <mat-icon class="menu-icon">
        {{ item.icon }}
      </mat-icon>

      <span class="menu-label">
        {{ item.label }}
      </span>

    </a>

  </mat-nav-list>

</aside>